@model E_CODING_MVC_NET6_0.Models.TemplateTechniqueVM

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Images/software/soft3.jpg" />
                </div>
                <div class="col-md-3" style="margin-top: 50px;">
                    <div>
                        <strong>@Html.DisplayNameFor(model => model.TemplateProjectId)</strong>
                    </div>
                    <div>
                        <strong>@Html.DisplayNameFor(model => model.TemplateTechniqueName)</strong>
                    </div>
                    <div>
                        <strong>@Html.DisplayNameFor(model => model.TemplateTechniqueVersion)</strong>
                    </div>
                    <div>
                        <strong>@Html.DisplayNameFor(model => model.TemplateTechniqueVersionNET)</strong>
                    </div>
                </div>
                <div class="col-md-5" style="margin-top: 50px;">

                    <div>
                        @Html.DisplayFor(model => model.TemplateProjectId)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.TemplateTechniqueName)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.TemplateTechniqueVersion)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.TemplateTechniqueVersionNET)
                    </div>
                </div>
            </div>
        </div>

        <hr /><hr />

        @foreach (var item in Model.TemplateTechniqueItem)
        {
            

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <a asp-controller="TemplateTechnique" asp-action="EditTechniqueItem" asp-route-id='@item.TemplateTechniqueItemId'>
                            <input type="button" value="Edit TemplateTechniqueItem" class="btn btn-primary" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="@item.TemplateTechniqueItemDescription" class="control-label"></label>
                        <textarea asp-for="@item.TemplateTechniqueItemDescription" id="textareDescription" class="mytextarea"></textarea>
                        <span asp-validation-for="@item.TemplateTechniqueItemDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>
        }


        <hr /><hr />



        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </div>

</form>


@section scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        $(document).ready(function () {

            tinymce.init({
                selector: '.mytextarea'
            });



        });

    </script>

}